{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Admin - BlogDown</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="logo">
          <p>Blog<span class="span-title">Down</span></p>
        </div>
        <div class="item-panel">
          <a href="{% url 'dashboard' %}" class="item">
            <ion-icon class="icon" name="grid"></ion-icon>
            <p>Dashboard</p>
          </a>
          <a href="{% url 'users' %}" class="item">
            <ion-icon class="icon" name="person"></ion-icon>
            <p>Users</p>
          </a>
          <a href="{% url 'blogs' %}" class="item">
            <ion-icon class="icon" name="document-text"></ion-icon>
            <p>Blogs</p>
          </a>
          <a href="{% url 'contact-admin' %}" class="item">
            <ion-icon class="icon" name="mail-open"></ion-icon>
            <p>Contact</p>
          </a>
          <a href="{% url 'admin-logout' %}" class="item logout">
            <ion-icon class="icon" name="log-out"></ion-icon>
            <p>Logout</p>
          </a>
        </div>
      </div>
      {% block dashboard %} {% endblock %}
      {% block users %} {% endblock %}
      {% block blog %} {% endblock %}
      {% block contact_admin %} {% endblock %}
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
