{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>BlogDown</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="nav">
          <div class="logo">
            <p>Blog<span class="span-title">Down</span></p>
          </div>
          <div class="opt">
            <a href="/" id="home">Home</a>
            <a href="{% url 'about' %}" id="about">About Us</a>
            <a href="{% url 'contact' %}" id="contact">Contact Us</a>
          </div>
          <div class="new">
            <a href="{% url 'create' %}">
              <button id="new-b">
                <span class="span-mother">
                  <span>C</span>
                  <span>r</span>
                  <span>e</span>
                  <span>a</span>
                  <span>t</span>
                  <span>e</span>
                </span>
                <span class="span-mother2">
                  <span>C</span>
                  <span>r</span>
                  <span>a</span>
                  <span>e</span>
                  <span>t</span>
                  <span>e</span>
                </span>
              </button>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">
              <button id="profile-b">
                <span class="span-mother">
                  <span>P</span>
                  <span>r</span>
                  <span>o</span>
                  <span>f</span>
                  <span>i</span>
                  <span>l</span>
                  <span>e</span>
                </span>
                <span class="span-mother2">
                  <span>P</span>
                  <span>r</span>
                  <span>o</span>
                  <span>f</span>
                  <span>i</span>
                  <span>l</span>
                  <span>e</span>
                </span>
              </button>
            </a>
            {% else %}
            <a href="{% url 'login' %}">
              <button id="login-b">
                <span class="span-mother">
                  <span>L</span>
                  <span>o</span>
                  <span>g</span>
                  <span>i</span>
                  <span>n</span>
                </span>
                <span class="span-mother2">
                  <span>L</span>
                  <span>o</span>
                  <span>g</span>
                  <span>i</span>
                  <span>n</span>
                </span>
              </button>
            </a>
            {% endif %}
          </div>
        </div>
      </header>

      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}

      {% block content %} {% endblock %}

      {% block edit %} {% endblock %}

      {% block editorForm %} {% endblock %}

      {% block contactForm %} {% endblock %}

      {% block about %} {% endblock %}

      {% block login %} {% endblock %}

      {% block profile %} {% endblock %}

      {% block signup %} {% endblock %}
    </div>
  </body>
  <script>
    setTimeout(function(){
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(function(alert) {
        alert.style.transition = "opacity 0.5s ease";
        alert.style.opacity = 0;
        setTimeout(() => alert.remove(), 500);
      });
    }, 3000);
  </script>
</html>
